<div>
    <form action="">
        <input type="text" value="add new book">
        <button type="submit" value="New Book"></button>
    </form>
<script type="text/template" id = "bookTemplate">
    <a href = "#" class= "name"><%=name%></a> by <%=author%>
    
</script>
<script type="text/template" id = "detailedBookTemplate">
    <h2><%=name%></h2>
    <p>written by<i> <%=author%></i></p>
    <p>kept in <%=location%></p>
</script>

<script type="text/template" id = "addBookTemplate">
    <form id='frmAddBook'>
        <div>Book Name:  <input type='text' id='book_name' class='input' /></div><br />
        <div>Written By: <input type='text' id='author_name' class='input' /></div><br />
        <div>Kept Location: <input type='text' id='location_name' class='input' /></div><br /><br /><br />
        <button action="" type="submit" id = "saveBook">Save</button>
      </form>
</script>
</div>